.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #45a29e;
}

.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1f2833;
}

.about h2 {
    font-family:"Cambria", Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: #074d48;
    height: 50px;
}

.about .prompt {
width: 40%;
font-size: 30px
}

.prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
}

.skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills h1 {
    color: #45a29e;
}

.skills h2 {
    color: #45a29e;
}

.skills .list {
    list-style: none;
    width: 60%;
}

.list span {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .skills h2 {
        font-size: 30px;
    }
}