.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: "Arial", sans-serif;

  }
  
  .resume-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .resume-text {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .resume-link {
    background-color: #149ce6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }
  
  .resume-link:hover {
    background-color: #051116;
  }
  